* {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

body {
  background-color: aliceblue;
  line-height: 1.6;
  display: grid;
  grid-template-rows: 20% 72% 8%;
  grid-template-columns: 200px 1fr;
}

header {
  background-color: yellow;
  grid-column: 1 / -1;
  border-bottom: 1px solid black;
  overflow: auto;
}

nav {
  background-color: orange;
  overflow: auto;
  min-height: 0;
}

section {
  background-color: aqua;
  overflow: auto;
  min-height: 0;
  padding: 0 10px;
}

footer {
  background-color: purple;
  grid-column: 1 / -1;
  padding-left: 10px;
}

h1 {
  color: brown;
  text-align: center;
}
a {
  text-decoration: none;
}
a:visited {
  color: yellow;
}
.definition {
  margin-left: 10px;
}
.definition > span {
  font-weight: bold;
}
header > audio {
  margin-top: 20px;
  margin-left: 10px;
}
nav > ul {
  border: 1px dotted black;
  background-color: dimgray;
}
nav > ul > li > a {
  color: red;
}
nav > ul > li > a:visited {
  color: yellow;
}
nav li::marker {
  color: black;
}
h3 {
  color: blue;
  text-shadow: 3px 3px 3px skyblue;
}
.fig {
  display: flex;
  gap: 10px;
}
.fig img {
  height: 100px;
}
